---
layout: default
---
<section class="bio">
  <div class="header">
    <p class="headertag">Tim posing with a recurrent neural network</p>
  </div>
  <div class="blurb">
    <h1 class="name">Tim Cooijmans</h1>
    <ul class="hmenu">
      <li><a href="{{'/blog'|relative_url}}">Blog</a></li>
      <li><a href="{{'/assets/tim_cooijmans_cv.pdf'|relative_url}}">CV</a></li>
      <li><a href="https://scholar.google.com/citations?user=Ec6vKzwAAAAJ">Scholar</a></li>
    </ul>
    {% capture blurb %}{% include blurb.md %}{% endcapture %}
    {{blurb|markdownify}}
  </div>
</section>
<hr>
<section class="publications">
  <h2>Publications</h2>

  {%include publications.html%}
</section>
