<div class="publications">
{% for pub in site.data.publications %}
<div class="publication">

<div class="thumbnail">
{% if pub.docurl %}
<a href="{{pub.docurl}}"><img src="{{'/assets/images/publications/'|append:pub.image|relative_url}}"></a>
{% else %}
<img src="{{'/assets/images/publications/'|append:pub.image|relative_url}}">
{% endif %}
</div>
<div class="blurb">
{% if pub.docurl %}<a href="{{pub.docurl}}">{{pub.blurb|markdownify}}</a>
{% else %} {{pub.blurb|markdownify}}
{% endif %}
<br>
<span class="authors">{{pub.authors}}.</span>
<span class="venue">{{pub.venue}}</span>
</div>

</div>
{% endfor %}
</div>

