{% comment %}
Derived from https://github.com/pages-themes/midnight/blob/b4246a69b718914403911979b1d2c0fce7bce605/_layouts/default.html
  - 2017-04-17: add MathJax
{% endcomment %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Simplifying Assumptions by Tim Cooijmans</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <style>
      body { font-size: 18px; }
      p { text-align: justify }

      ul.hmenu {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin:0; padding:0;
      }
      ul.hmenu li{
        display: block;
        flex: 0 1 auto;
        list-style-type: none;
        padding: 1em;
      }

      strong {
        font-family: Helvetica, sans-serif;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">

      <section>
        <div id="title">
          <a href="/blog"><h1>Simplifying Assumptions</h1></a>
          <p>by <a href="/index.html">Tim Cooijmans</a></p>
          <hr>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
